.root{
    -fx-font-family:"Segoe UI",System;
    -fx-font-size:13px;
    -fx-background-color:#0e1324;
}

/* text */
.label{
    -fx-text-fill:#e9ecf5;
    -fx-font-weight:600;
}

/* inputs */
.text-field,.password-field{
    -fx-background-color:rgba(255,255,255,0.08);
    -fx-background-radius:10;
    -fx-border-radius:10;
    -fx-border-color:rgba(255,255,255,0.14);
    -fx-text-fill:#f4f7ff;
    -fx-padding:6 10;
    -fx-pref-height:34;
}
.text-field:focused,.password-field:focused{
    -fx-border-color:#4f8cff;
}

/* buttons  */
.button{
    -fx-background-radius:10;
    -fx-border-radius:10;
    -fx-font-weight:700;
    -fx-padding:8 14;
}
.button:hover{ -fx-opacity:0.92; }
