.root {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 13px;
    -fx-background-color: #f6f7fb;
}

.title {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.card {
    -fx-padding: 12;
    -fx-spacing: 10;
    -fx-background-color: white;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: #e5e7eb;
}

.fieldLabel {
    -fx-text-fill: #111827;
}

.muted {
    -fx-text-fill: #6b7280;
}

.primaryBtn {
    -fx-background-color: #2c7be5;
    -fx-text-fill: white;
    -fx-background-radius: 8;
    -fx-padding: 8 14;
}
